<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <iframe class="ani" src="https://lottie.host/embed/a2e9e092-cf49-4f0b-b665-212200ba4eca/sics1sRLWo.json"></iframe>
</body>
</html>